@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
}

html {
    scroll-behavior: smooth; /*Para que cuando nos desplacemos en la página sea de manera suave*/
}

/*Menú*/
.header-content {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-content header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header-content .logo a {
    font-family: "Righteous";
    font-size: 36px;
    color: lightsalmon;
    text-decoration: none;
}

.header-content ul {
    display: flex;
    list-style: none;
}

.header-content #nav a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.header-content #nav a:hover {
    color: lightsalmon;
}

.nav-responsive {
    background-color: lightsalmon;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*Fin del menú*/

/*Sección de INICIO*/
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)), url("../img/fondo.jpg");
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .banner-content {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .banner-content img {
    margin-top: 40px;
    border: 10px solid lightsalmon;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .banner-content h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: "Righteous";
}

.inicio .banner-content h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .banner-content .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .banner-content .redes a:hover {
    background-color: lightsalmon;
}

/* Fin sección de INICIO */

/*Sección SOBRE MI */
.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .content-section {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

.sobremi .content-section p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .content-section p span {
    color: lightsalmon;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: "Righteous";
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: lightsalmon;
    width: 130px;
}

.sobremi .fila .col ul li span {
    background-color: lightsalmon;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .aficiones-content {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .aficiones-content .aficion {
    width: 150px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.sobremi .fila .col .aficiones-content .aficion:hover {
    background-color: lightsalmon;
}

.sobremi .fila .col .aficiones-content .aficion i {
    font-size: 25px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content; /*Para que se adapte al contenido*/
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: lightsalmon;
    z-index: -1;
    transition: .5s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/* Fin sección SOBRE MI */

/* Sección SKILLS */
.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .content-section {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: "Righteous";
    margin-bottom: 25px;
}

.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: lightsalmon;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: lightsalmon;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* animación barras */

.skills .skill .html {
    width: 0%;
    animation: 2s html forwards;
}

@keyframes html {
    0% {width: 0%;}
    100% {width: 95%;}
}

/* ------------------- */
.skills .skill .css {
    width: 0%;
    animation: 2s css forwards;
}

@keyframes css {
    0% {width: 0%;}
    100% {width: 75%;}
}

/* ------------------- */
.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {width: 0%;}
    100% {width: 50%;}
}

/* ------------------- */
.skills .skill .bootstrap {
    width: 0%;
    animation: 2s bootstrap forwards;
}

@keyframes bootstrap {
    0% {width: 0%;}
    100% {width: 65%;}
}

/* ------------------- */
.skills .skill .resolutiva {
    width: 0%;
    animation: 2s resolutiva forwards;
}

@keyframes resolutiva {
    0% {width: 0%;}
    100% {width: 90%;}
}

/* ------------------- */
.skills .skill .equipo {
    width: 0%;
    animation: 2s equipo forwards;
}

@keyframes equipo {
    0% {width: 0%;}
    100% {width: 85%;}
}
/* ------------------- */
.skills .skill .compromiso {
    width: 0%;
    animation: 2s compromiso forwards;
}

@keyframes compromiso {
    0% {width: 0%;}
    100% {width: 100%;}
}

/* ------------------- */
.skills .skill .proactividad {
    width: 0%;
    animation: 2s proactividad forwards;
}

@keyframes proactividad {
    0% {width: 0%;}
    100% {width: 90%;}
}
/* Fin de la sección de SKILLS */

/* Sección CV */
.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .content-section {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;

}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: "Righteous";
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #252A2E;
}

.curriculum .fila .derecha {
    border-left: 2px solid #252A2E;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom:10px;
}

.curriculum .fila .item .ubicacion {
    color: lightsalmon;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: lightsalmon;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;   
}

.curriculum .fila .izq {
    border-right: 2px solid lightsalmon;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid lightsalmon;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: lightsalmon;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: lightsalmon;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: lightsalmon;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: lightsalmon;
    float: left;
    position: relative;
    bottom: 4px;
}
/* Fin de la sección CV */

/* SECCIÓN PORFOLIO */
.porfolio {
    background-color: #252A2E;
    color: #ffff;
    padding: 50px 20px;

}

.porfolio .content-section  {
    max-width:1100px;
    margin: auto;
}

.porfolio h2 {
    font-size: 48px;
    font-family: "righteous" ;
    text-align: center;
    padding: 20px 0;
}

.porfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.porfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin:10px;
    cursor:pointer;
}

.porfolio .galeria .proyecto img{
    width: 100%;
    display:block;
}

.porfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,8), rgba(28,182,152,8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.porfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.porfolio .galeria .proyecto .overlay:hover {
    opacity: 1   
}

.porfolio .galeria .proyecto .overlay:hover  h3{
    margin-bottom: 0px;
}

/* SECCIÓN CONTACTO */
.contacto {
    background-image: url(../img/contact_bg.png);
    background-color: #1e2316;
    color: #fff;
    padding: 50px 0;
}

.contacto .content-section {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: "righteous" ;
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content; /*Para que se adapte al contenido*/
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: lightsalmon;
    z-index: -1;
    transition: .5s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: lightsalmon;
    display: inline-block;
    margin-right: 10px;
}
/* Fin de Sección contacto */

/* Footer */
footer {
    background-color: #252A2E;
    padding: 50px 0 30px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover {
    background-color: lightsalmon;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: lightsalmon;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* Fin del Footer */

/* RESPONSIVE */
@media screen and (max-width: 980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important; 
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px;
    }
} 

@media screen and (max-width: 700px){
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .porfolio .galeria {
        display: block;
        width: 100%;
    }

    .porfolio .galeria .proyecto {
        max-width: 100%;
    }
    
    .porfolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }
}

